* {
    color: #f8b104;
    margin: 0;
}

.topBar
{
    display: flex;
    background-color: rgb(22, 26, 29);
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    height: 50px;
    gap: 15px;
}

.logo
{
    margin-right: auto;
}

